@use "../abstracts/breakpoints" as *;

#avatar {
  max-width: 1.8rem;

  &:hover {
    background-color: orange;
    padding: 0.05rem;
    border-radius: 50%;
  }

  @include mq(large) {
    max-width: 3rem;
  }
}
