@use "../utilities/flow" as *;
@use "../abstracts/breakpoints" as *;

#cart__icon #cart__notification {
  position: absolute;
  z-index: 9999;
  top: 2.5px;
  left: 12px;
  padding: 0 0.3rem;
  border-radius: 50%;
  display: none;
}

#cart__icon img {
  &:hover {
    filter: brightness(0) saturate(100%) invert(0%) sepia(91%) saturate(7500%)
      hue-rotate(113deg) brightness(86%) contrast(107%);
  }
}

#user-info {
  position: relative;
}

#cart {
  position: absolute;
  width: 100%;
  max-width: 25rem;
  margin: auto;
  height: 17rem;
  background-color: white;
  top: 4rem;
  z-index: 9998;
  left: 0;
  right: 0;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0px 37px 76px -21px rgba(0, 0, 0, 0.75);
  display: none;

  @include mq(large) {
    width: 25rem;
    left: auto;
  }
}

#break {
  height: 1px;
  margin-block: 1rem;
  margin-inline: -1.5rem;
}

#cart__content {
  padding: 1rem 0.5rem;
  height: 70%;
  @include flex(1rem, column, space-between, center);

  button {
    width: 100%;
    display: none;
  }
}
