@use "../utilities/flow" as *;
@use "../abstracts/breakpoints" as *;

nav {
  position: absolute;
  top: 0;
  left: -1.5rem;
  height: 100vh;
  background-color: white;
  width: 65%;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  @include flex(2rem, column, flex-start, flex-start);
  transform: translateX(-100%);
  transition: all 300ms ease-in-out;
  z-index: 9999;

  #header-links {
    list-style: none;
    padding: 0;
  }

  .nav-link {
    cursor: pointer;
    margin-bottom: 1rem;

    &:hover {
      color: black;
      border-bottom: 4px solid var(--clr-primary-orange);
      padding-bottom: calc(3rem - 2px);
      margin-bottom: calc(-2px - 3rem);
    }
  }

  @include mq(large) {
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    background-color: transparent;
    width: auto;
    padding: 0;
    z-index: 0;
    transform: translateX(0%);

    #header-links {
      @include flex(2rem, row, center, center);
    }

    .nav-link {
      margin: 0;
      font-size: var(--fs-400);
      font-weight: 500;
      color: var(--clr-neutral-blue-gray-dark);
    }
  }
}
